*{
    margin: 0%;
    padding: 0%;
}
.fondoBody{
    background-image: url(../Imagenes/fondoindex.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
     }
.form_Contact{
    background-color: rgb(226, 217, 205);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    box-shadow: 7px 13px 37px rgb(101, 101, 115);
}
header{
    width: 100%;
    background-color: rgb(208, 254, 254);
    overflow: hidden;
    color: rgb(159, 169, 202);
    padding: 20px;
}

.contac{
        padding: .8rem;
        overflow: hidden;
        color: rgb(161, 161, 154);
        }

.contac label, .contac input, .contac textarea{
        display: block;
        width: 100%;
        margin-bottom: 8px;
        }
.contac label{
        font-weight: 700px;
        }

.contac input, .contac textarea{
        border: none;
        border-radius: 2px solid rgb(108, 44, 44);
        margin-bottom: 20px;
        font-size: 20px;
        }
.contac textarea{
        min-height: 100px;
 }

.tituloContac{
    color: rgb(135, 135, 133);
    padding: 30px;
    text-align: center;
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-size: 25px;
 }
