
.fondoBody{
    background-image: url(../Imagenes/fondoindex.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    padding: 20px;
    
     }
.form_Contact{
    background-color: rgb(235, 216, 192);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    box-shadow: 7px 13px 37px rgb(101, 101, 115);
}
header{
    width: 100%;
    background-color: rgb(217, 221, 221);
    overflow: hidden;
    color: rgb(108, 69, 106);
    padding: 20px;
}

.contac{
        padding: .8rem;
        overflow: hidden;
        color: rgb(161, 161, 154);
        }

.contac label, .contac input, .contac textarea{
        display: block;
        width: 100%;
        margin-bottom: 8px;
        }
.contac label{
        font-weight: 700px;
        }

.contac input, .contac textarea{
        border: none;
        border-radius: 2px solid rgb(108, 44, 44);
        margin-bottom: 20px;
        font-size: 20px;
        }
.contac textarea{
        min-height: 100px;
 }

.spanCont{
        color: rgb(243, 204, 214);
        h1{
        color: rgb(91, 91, 91);
        padding: 30px;
        text-align: center;
        font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
        font-size: 25px;
        text-decoration: underline;       
        }
        a{
        background-color: rgb(185, 107, 176);
        font-size: 25px;
        color: black;
        }

}

