html body{
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/fondoindex.jpg);
    background-size: 100%;
}
    .titleImg{
        color: rgb(135, 135, 133);
        padding: 30px;
        text-align: center;
        font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
        font-size: 25px;
        text-decoration: underline;
}

.container_Img{
    width: 100%;
    max-width: 1200;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .imagen {
        width: 350px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rosybrown(0,0,0,0.2);
        overflow: hidden;
        margin: 10px;
        text-align: center;
        transition: all 0,25s;
       img{
           width: 350px;
           height: 300px;
       } 
    }
}
.container_Img :hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(129, 176, 248, 0.2)
    }

 .h2Img{
        font-weight: 600;
        color: #979393;
        font-family:'century',Helvetica,Arial,Lucida,sans-serif;
     }
        
.p{
  color: #403f3f;
  padding: 0,1rem;
  font-size: 16px;
  font-family: 'century',Helvetica,Arial,Lucida,sans-serif;
   }
     
   .spanImg{
    color: rgb(243, 204, 214);
    h1{
    color: rgb(135, 135, 133);
    padding: 30px;
    text-align: center;
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-size: 25px;
    text-decoration: underline;       
    }
    a{
    background-color: rgb(230, 195, 225);
    font-size: 25px;
    color: black;
    }

}
@media screen {
    
}