.spanSer{
    color: rgb(243, 204, 214);
    h1{
    color: rgb(135, 135, 133);
    padding: 30px;
    text-align: center;
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-size: 25px;
    text-decoration: underline;       
    }
    a{
    background-color: rgb(230, 195, 225);
    font-size: 25px;
    color: black;
    }

}





.bodyServ{
    background-image: url(../Imagenes/fondoindex.jpg);
    background-size: 100%;

}
.galeriaS{
    display: flex;
    padding: 30px;
    margin: 40px;
    justify-content: center;
    margin-top: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(235, 221, 221), 0 6px 20px 0 rgb(158, 233, 9) (0,0,0,0.19);
    float: left;
    width: 180px;
     img{
    width: 100%;
    height: auto;  
    text-align: center;
 }
}
.galeriaS:hover{
    border: 1px rgb(248, 244, 239);
    transform: rotate(-3deg);
}
.pie{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(137, 136, 136);
    padding: 10px;
    font-weight: 900px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}