@import "contacto";
@import "nosotros";
@import "servicios";
@import "imagenes";
@import "variables";


.headerIdx{
    padding: 30px;
    background-color: cornsilk
     }
.caja__logo img{
    width: 200px; 
    padding: 0;
    
}


.navegacionLi li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    a{
        text-decoration: none;
        color: rgb(13, 113, 113);
        padding: 20px;
        display: block;
        font-weight: bold;
        font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    }
    }
    a:hover{
        background-color: rgb(221, 219, 219);
    }
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-all{
    width: 95%;
    max-width: 600px;
    margin: auto 100px;
    position: relative;
    display: flex;
    align-items: center;
    }
    
    img{
        width: 160%;
        padding: 30px;  
    }
    

.text  {
        background-color: rgba(21, 19, 19, 0.342);
        border-radius: 3rem;
        padding: 4rem;
        margin: auto;
        color: rgb(11, 11, 11);
        font-weight: 500;
        position: absolute;
        top: 25%;
        text-align: center;
        font-size: 20px;
        background-image: radial-gradient(circle at center,#f0ebe1 0%,rgba(240,235,225,0.65) 100%);
        .h1index{
            color: rgb(57, 35, 35);
            font-size: 30px;
            font-family: 'century',Helvetica,Arial,Lucida,sans-serif;
            background-color: rgba(49, 49, 49, 0);
        }
        
      }
      
       .caja p .h1index:hover {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background-color: rgba(65, 64, 64, 0.056);
       }
       



.bodyIdx{
    background-image: url(../Imagenes/fondoindex.jpg);
    background-size: 100%;
}
.container__footer{
    background-color: $colorPrincipal;
    padding: 20px;
    .h2F{
        color: rgb(87, 65, 65);
        margin-bottom: 40px;
        font-weight: 700px; 
        margin-right: 10px;
        padding: 20px;
        text-transform: uppercase;
        font-size: 15px;
        a{
            color: rgb(144, 102, 141);
            width: 30px;
            margin-left: 50%;
            padding: 20px;
            font-size: 20px;
    
        }
  }
}

.div_Padre{
    background-color: rgb(197, 229, 229);
    margin: 50px;
    .div_Hijo{
        height: 250px;
        width: 200px;
        display: inline-block;
        margin-top: 50px;
        .img{
            height: 250px;
            width: 200%;
            display: inline;  
        }
    }
}
.fondo_Hd{
    background-color: rgb(255, 232, 204);
    padding: 40px;
    .productos{
        color: rgb(147, 144, 144);
        text-align: center;
        font-family: 'Cookie', cursive;
        font-weight: bold
    }

    }

.whatsapp{
    position: fixed;
    width: 70px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;    
    right: 30px;
    border-radius: 50px;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 50px;
    }