@import "contacto";
@import "nosotros";
@import "servicios";
@import "imagenes";
@import "variables";

html{
        padding: 0;
        margin: 0;
}

.container{
    padding: 10px;
    background-color: rgb(255, 255, 255);
     }
.caja__logo img{
    width: 200px;
    float: left;
}


.navegacionLi li{
    display: inline-block;
    font-size: 30;
    padding: 20px;
   
    a {
        text-decoration: none;
        color: rgb(13, 113, 113);
        padding: 20px;
        display: block;
        font-weight: bold;
        font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;

    }
    }
    a:hover{
        background-color: rgb(221, 219, 219);
    }


.container-all{
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    grid-template-columns: 50% 50%;
    }
    
    img{
        width: 110%;
        height: 60%;
        padding: 30px; 
        margin: 20px 20px;
        text-align: center;
    }
    

.text  {
        background-color: rgba(21, 19, 19, 0.342);
        border-radius: 1rem;
        padding: 2rem;
        align-items: center;
        margin: 30px 30px 30px 30px;
        justify-content: right;
        color: rgb(11, 11, 11);
        font-weight: 400;
        font-size: 15px;
        background-image: radial-gradient(circle at center,#f0ebe1 0%,rgba(240,235,225,0.65) 100%);
       
        .parrafo{
            color: rgb(57, 35, 35);
            font-size: 25px;
            font-family: 'century',Helvetica,Arial,Lucida,sans-serif;
            background-color: rgba(49, 49, 49, 0);
            align-items: center;
        }
        
      }
      
       .caja p .h1index:hover {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background-color: rgba(65, 64, 64, 0.056);
       }
       


.bodyIdx{
    background-image: url(../Imagenes/fondoindex.jpg);
    background-size: 100%;
}
.container__footer{
    background-color: $colorPrincipal;
    padding: 20px;
    .h2F{
        color: rgb(87, 65, 65);
        margin-bottom: 40px;
        font-weight: 700px; 
        margin: 30px 20px;
        padding: 30px;
        text-transform: uppercase;
        font-size: 15px;
        .div a{
            color: rgb(106, 135, 207);
            width: 50px;
            font-size: 20px;
            display: inline;
            position: relative;
            text-align: center;
        }
  }
}

.div_Padre{
    background-color: rgb(197, 229, 229);
    margin: 50px;
    .div_Hijo{
        height: 250px;
        width: 200px;
        display: inline-block;
        margin-top: 50px;
        .img{
            height: 250px;
            width: 200%;
            display: inline;  
        }
    }
}
.fondo_Hd{
    background-color: rgb(255, 232, 204);
    padding: 40px;
    .productos{
        color: rgb(147, 144, 144);
        text-align: center;
        font-family: 'Cookie', cursive;
        font-weight: bold
    }

    }

.whatsapp{
    position: fixed;
    width: 70px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;    
    right: 30px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 30px;
    margin: 20px 20px;

    }
   
    