@import "contacto";


.headerIdx{
    background-color: rgba(209, 181, 209, 0.644);
}
.navegacionLi li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    a{
        text-decoration: none;
        color: rgb(37, 106, 106);
        padding: 20px;
        display: block;
        font-weight: bold;
        font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    }
    }
    a:hover{
        background-color: rgb(234, 229, 229);
    }
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgba(250, 235, 215, 0.706);
    margin-top: 30px;
    border-top: 6px solid rgb(247, 203, 145);
}
.caja2 img{
    width: 200px;
   
    }
.container-all p{
    font-size: 18px;
    font: 200px;
    margin-bottom: 60px;   
}

.bodyIdx{
    margin: 0%;
    background-color: rgb(229, 225, 225);
}
.container__footer{
    background-color: rgb(211, 234, 201);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    .h2F{
        color: rgb(219, 122, 122);
        margin-bottom: 40px;
        font-weight: 700px; 
  }
}
.caja__footer img{
    width: 180px; 
}
.div_Padre{
    background-color: rgb(197, 229, 229);
    margin: 50px;
    .div_Hijo{
        height: 250px;
        width: 200px;
        display: inline-block;
        margin-top: 50px;
        .img{
            height: 250px;
            width: 200%;
            display: inline;  
        }
    }
}
.fondo_Hd{
    background-color: rgb(255, 232, 204);
    padding: 40px;
    .productos{
        color: rgb(147, 144, 144);
        text-align: center;
        font-family: 'Cookie', cursive;
        font-weight: bold
    }

    }