* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.fondoBody {
  background-color: #c6e5e5;
  font-family: Arial, Helvetica, sans-serif; }

.form_Contact {
  background-color: #e2d9cd;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 30%;
  box-shadow: 7px 13px 37px #656573; }

header {
  width: 100%;
  background-color: #cbc8c7;
  overflow: hidden;
  color: #c11d64; }
  header span {
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 2,5rem; }

.contac {
  padding: .8rem;
  overflow: hidden;
  color: #a1a19a; }

.contac label, .contac input, .contac textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px; }

.contac label {
  font-weight: 700px; }

.contac input, .contac textarea {
  border: none;
  border-radius: 2px solid #6c2c2c;
  margin-bottom: 20px;
  font-size: 20px; }

.contac textarea {
  min-height: 100px; }

.cabecera_C {
  background-color: bisque;
  padding: 30px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray; }
  .cabecera_C a {
    color: #c0965f; }

.headerIdx {
  background-color: rgba(209, 181, 209, 0.644); }

.navegacionLi li {
  list-style-type: none;
  display: inline-block;
  text-align: center; }
  .navegacionLi li a {
    text-decoration: none;
    color: #256a6a;
    padding: 20px;
    display: block;
    font-weight: bold;
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif; }

a:hover {
  background-color: #eae5e5; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.container-all {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background: rgba(250, 235, 215, 0.706);
  margin-top: 30px;
  border-top: 6px solid #f7cb91; }

.caja2 img {
  width: 200px; }

.container-all p {
  font-size: 18px;
  font: 200px;
  margin-bottom: 60px; }

.bodyIdx {
  margin: 0%;
  background-color: #e5e1e1; }

.container__footer {
  background-color: #d3eac9;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding: 20px; }
  .container__footer .h2F {
    color: #db7a7a;
    margin-bottom: 40px;
    font-weight: 700px; }

.caja__footer img {
  width: 180px; }

.div_Padre {
  background-color: #c5e5e5;
  margin: 50px; }
  .div_Padre .div_Hijo {
    height: 250px;
    width: 200px;
    display: inline-block;
    margin-top: 50px; }
    .div_Padre .div_Hijo .img {
      height: 250px;
      width: 200%;
      display: inline; }

.fondo_Hd {
  background-color: #ffe8cc;
  padding: 40px; }
  .fondo_Hd .productos {
    color: #939090;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-weight: bold; }
