.menu li {
  display: inline-block;
  position: relative;
  padding: 5px 5px;
  font-weight: bold;
  background-color: #7e7e7e;
}

.menu li a {
  text-decoration: none;
  color: #111413;
}

.carouselContainer {
  position: relative;
  width: 50%;
  left: 25%;
  padding: 5rem;
  background-color: rgba(224, 216, 216, 0.667);
  border-radius: 5rem;
}

.carousel-image {
  height: 20rem;
}

.fondoFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #76c1e4;
  color: #292626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none !important;
  grid-area: footer;
  text-align: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.fondoFooter a {
  text-decoration: none;
  color: rgb(51, 82, 117);
}

.bodyIndex {
background-color: #BBBBBB;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-14.7 -2.8000000000000003) rotate(-3.4000000000000004 1409 581) scale(0.970868)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-31.5 15) rotate(-1.0000000000000002 800 450) scale(0.99699)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-4.1 4.5) rotate(-15.5 401 736) scale(0.99699)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(90 5) rotate(-1.25 150 345) scale(1.006956)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(0.5 -43) rotate(-25.200000000000003 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-28.4 3.5999999999999996) rotate(-4.199999999999999 1400 132) scale(0.945)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.bodyIndex div header {
  background-color: #bddbe7;
}

.bodyIndex div header nav ul li a {
  border-radius: 1rem;
  padding: 1rem;
}

.bodyIndex div header nav ul li a:hover {
  color: rgb(218, 83, 83);
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #838982;
}

.fondoHeader {
  display: -ms-grid;
  display: grid;
  background-color: #eee5cd;
}

.fondoBody {
  background-color: #14390f;
}

.testColumns {
  background-color: rgba(36, 6, 6, 0.397);
  padding: 5rem;
}

.testColumns :nth-child(1) {
  background-color: white;
  height: 100%;
}

.testColumns :nth-child(2) {
  background-color: #00ff22;
  height: 100%;
}

.testColumns :nth-child(3) {
  background-color: #f377ab;
  height: 100%;
}

section.introMessage {
  width: 100%;
}

section.introMessage .caja {
  background-color: #626465ec;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  width: 50vw;
  position: relative;
  left: 25%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.introMessage .caja img {
  width: 90%;
}

section.introMessage .caja p {
  background-color: rgba(212, 119, 119, 0.342);
  border-radius: 1rem;
  padding: 1rem;
  width: 40ch;
  color: rgb(31, 28, 28);
  font-weight: 600;
  position: absolute;
  top: 9%;
  text-align: center;
}

section.introMessage .caja p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgb(136, 131, 131);
}

.fondoBody{
background-color: #BBBBBB;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-14.7 -2.8000000000000003) rotate(-3.4000000000000004 1409 581) scale(0.970868)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-31.5 15) rotate(-1.0000000000000002 800 450) scale(0.99699)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-4.1 4.5) rotate(-15.5 401 736) scale(0.99699)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(90 5) rotate(-1.25 150 345) scale(1.006956)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(0.5 -43) rotate(-25.200000000000003 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-28.4 3.5999999999999996) rotate(-4.199999999999999 1400 132) scale(0.945)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.fondoHeader{
background-color: #bddbe7;
width: 30%;
left: 15%;
padding: 10rem;
position: relative;
 }

.formulario{
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto;
  align-items: center;
  width: 50rem;
  height: auto;
  border-radius: 1, 5rem;
}
.formularioInput {
  width: 30rem;
  height: 12rem;
  margin: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: solid;
  border-width: 0.1rem;
  height: 3rem;
  margin: 2rem;
  border-radius: 1rem;
  text-align: center;
}

@media screen and (max-height: 800px) {
  .introMessage .caja {
    padding: 10rem;
  }
}

/*# sourceMappingURL=main.css.map */